extend base

block content
  .container-center-horizontal
    .about-us.screen
      .overlap-group
        .hero
          .overlap-group2-1
            link(href="css/aboutUs.css", rel="stylesheet")
            img.rectangle-392(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-392-1@1x.svg")
            .hero-section-content
              .overlap-group3-3
                img.subtract(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/subtract-1@1x.svg")
                h1.text-2.lato-bold-white-72px-22
                  span.span.lato-bold-zircon-72px
                    | Career Acceleration Platform
                    br
                    | For World-Beating Yet 
                  span.span.lato-bold-white-72px-3 Under
                  span.span.lato-bold-zircon-72px Privileged Students
              .text-1.merriweather-normal-white-24px Career Saathi Program
              button.frame-4(type="button")
                .fa-soliddonate-1
                  img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-167@2x.svg")
                div(style="color:#ffffff; font-size:20px") Donate Now
          .header
            img.ellipse-4-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-31-1@2x.png")
            .csp.merriweather-black-zircon-72px csp
            .frame-20
              .place-1.merriweather-bold-cerise-20px Home
              .who-we-are.merriweather-bold-white-20px-22 Who we are
              .mentorship-1.merriweather-bold-white-20px-22 Mentorship
              .donors-1.merriweather-bold-white-20px-22 Donors
            .contact
              button.contact-us.merriweather-light-tory-blue-16px(type="button") Contact us
            .login-1
              button.login.merriweather-light-tory-blue-16px(type="button") Login
        .header-1
          img.ellipse-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/ellipse-4@2x.png")
          .csp.merriweather-black-zircon-72px csp
          .frame-20
            div
              a(href="#", style="color:#EF2A82; font-size:20px")
                b Home
            .who-we-are.merriweather-bold-cerise-20px-2
              a(href="#", style="color:#f8f9ff;font-size:20px") Who we are
            .mentorship-1.merriweather-bold-white-20px-22
              a(href="#", style="color:#f8f9ff; font-size:20px")
                b Mentorship
            .donors-1.merriweather-bold-white-20px-22
              a(href="#", style="color:#f8f9ff;font-size:20px")
                b Donors
          .contact
            button(type="button", style="color:#172755;background-color:#f8f9ff;width:100px;height:40px") Contact us
          .login-1
            button(type="button", style="color:#172755;background-color:#f8f9ff;width:100px;height:40px") Login
        .group-393
          .group-121
            .about-us-1.lato-black-blue-zodiac-40px About Us
            .text-5.lato-normal-blue-zodiac-21px.
              
              Career Saathi Program is a selective student support program for meritorious students who come from financially stressed backgrounds. CSP handpicks world-beating minds at young age’s, mentors & assists them with all kinds of support, tracking their growth all along until they’re successfully employed. The support to each child ranges from administering a psychometric test, aiding in admission into the course of their choice, various bridge programs for a medium switch, assistance in applications for higher studies, entrance exams, scholarships and much more, while also equipping with next-gen employability skills.
              
          .lappi-1
            .overlap-group2
              .layer-1
                .overlap-group3
                  img.vector-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-1@2x.svg")
                  img.vector-29(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-2@2x.svg")
                  img.vector-135(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-3@2x.svg")
                  img.vector-81(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-4@2x.svg")
                  img.vector-66(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-5@2x.svg")
                  img.vector-133(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-6@2x.svg")
                  img.vector-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-7@2x.svg")
                  img.vector-10(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-8@2x.svg")
                  img.vector-150(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-9@2x.svg")
                  img.vector-32(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-10@2x.svg")
                  img.vector-106(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-11@2x.svg")
                  img.vector-141(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-184@2x.svg")
                  img.vector-21(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-185@2x.svg")
                  img.vector-91(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-186@2x.svg")
                  img.vector-44(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-15@2x.svg")
                  img.vector-22(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-16@2x.svg")
                  img.vector-164(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-17@2x.svg")
                  img.vector-48(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-18@2x.svg")
                  img.vector-14(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-19@2x.svg")
                  img.vector-27(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-192@2x.svg")
                  img.vector-107(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-21@2x.svg")
                  img.vector-86(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-22@2x.svg")
                  img.vector-67(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-23@2x.svg")
                  img.vector-58(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-24@2x.svg")
                  img.vector-99(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-25@2x.svg")
                  img.vector-146(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-26@2x.svg")
                  img.vector-126(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-27@2x.svg")
                  img.vector-75(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-28@2x.svg")
                  img.vector-73(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-29@2x.svg")
                  img.vector-72(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-30@2x.svg")
                  img.vector-15(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-31@2x.svg")
                  img.vector-117(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-32@2x.svg")
                  img.vector-119(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-33@2x.svg")
                  img.vector-36(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-34@2x.svg")
                  img.vector-23(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-35@2x.svg")
                  img.vector-158(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-36@2x.svg")
                  img.vector-145(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-37@2x.svg")
                  img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-38@2x.svg")
                  img.vector-7(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-39@2x.svg")
                  img.vector-12(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-40@2x.svg")
                  img.vector-18(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-41@2x.svg")
                  img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-38@2x.svg")
                  img.vector-46(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-43@2x.svg")
                  img.vector-68(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-44@2x.svg")
                  img.vector-56(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-45@2x.svg")
                  img.vector-140(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-46@2x.svg")
                  img.vector-155(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-47@2x.svg")
                  img.vector-88(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-48@2x.svg")
                  img.vector-54(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-49@2x.svg")
                  img.vector-149(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-50@2x.svg")
                  img.vector-9(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-51@2x.svg")
                  img.vector-156(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-52@2x.svg")
                  img.vector-157(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-158@2x.svg")
                  img.vector-33(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-53@2x.svg")
                  img.vector-13(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-54@2x.svg")
                  img.vector-28(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-55@2x.svg")
                  img.vector-98(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-56@2x.svg")
                  img.vector-100(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-57@2x.svg")
                  img.vector-168(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-58@2x.svg")
                  img.vector-87(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-59@2x.svg")
                  img.vector-59(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-60@2x.svg")
                  img.vector-78(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-61@2x.svg")
                  img.vector-93(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-62@2x.svg")
                  img.vector-136(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-63@2x.svg")
                  img.vector-108(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-64@2x.svg")
                  img.vector-39(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-65@2x.svg")
                  img.vector(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-66@2x.svg")
                  img.vector-76(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-67@2x.svg")
                  img.vector-62(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-68@2x.svg")
                  img.vector-144(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-69@2x.svg")
                  img.vector-109(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-70@2x.svg")
                  img.vector-34(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-71@2x.svg")
                  img.vector-101(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-72@2x.svg")
                  img.vector-92(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-73@2x.svg")
                  img.vector-115(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-74@2x.svg")
                  img.vector-43(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-75@2x.svg")
                  img.vector-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-76@2x.svg")
                  img.vector-112(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-77@2x.svg")
                  img.vector-159(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-78@2x.svg")
                  img.vector-123(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-79@2x.svg")
                  img.vector-40(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-80@2x.svg")
                  img.vector-19(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-81@2x.svg")
                  img.vector-95(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-82@2x.svg")
                  img.vector-125(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-83@2x.svg")
                  img.vector-35(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-84@2x.svg")
                  img.vector-64(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-85@2x.svg")
                  img.vector-143(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-86@2x.svg")
                  img.vector-90(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-87@2x.svg")
                  img.vector-120(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-88@2x.svg")
                  img.vector-138(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-89@2x.svg")
                  img.vector-71(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-90@2x.svg")
                  img.vector-102(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-91@2x.svg")
                  img.vector-74(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-92@2x.svg")
                  img.vector-111(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-93@2x.svg")
                  img.vector-129(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-94@2x.svg")
                  img.vector-16(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-95@2x.svg")
                  img.vector-55(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-96@2x.svg")
                  img.vector-128(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-97@2x.svg")
                  img.vector-134(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-98@2x.svg")
                  img.vector-94(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-99@2x.svg")
                  img.vector-154(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-100@2x.svg")
                  img.vector-57(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-101@2x.svg")
                  img.vector-85(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-102@2x.svg")
                  img.vector-84(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-103@2x.svg")
                  img.vector-97(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-104@2x.svg")
                  img.vector-89(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-105@2x.svg")
                  img.vector-167(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-106@2x.svg")
                  img.vector-77(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-107@2x.svg")
                  img.vector-63(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-108@2x.svg")
                  img.vector-132(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-109@2x.svg")
                  img.vector-161(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-110@2x.svg")
                  img.vector-160(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-111@2x.svg")
                  img.vector-11(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-112@2x.svg")
                  img.vector-152(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-113@2x.svg")
                  img.vector-79(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-114@2x.svg")
                  img.vector-137(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-115@2x.svg")
                  img.vector-151(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-116@2x.svg")
                  img.vector-24(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-117@2x.svg")
                  img.vector-110(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-118@2x.svg")
                  img.vector-148(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-119@2x.svg")
                  img.vector-30(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-120@2x.svg")
                  img.vector-121(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-121@2x.svg")
                  img.vector-50(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-122@2x.svg")
                  img.vector-104(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-123@2x.svg")
                  img.vector-124(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-124@2x.svg")
                  img.vector-61(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-125@2x.svg")
                  img.vector-139(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-126@1x.svg")
                  img.vector-130(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-127@1x.svg")
                  img.vector-127(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-128@2x.svg")
                  img.vector-105(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-129@2x.svg")
                  img.vector-165(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-130@2x.svg")
                  img.vector-153(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-131@2x.svg")
                  img.vector-118(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-304@1x.svg")
                  img.vector-45(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-133@2x.svg")
                  img.vector-69(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-134@2x.svg")
                  img.vector-113(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-135@2x.svg")
                  img.vector-60(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-136@2x.svg")
                  img.vector-17(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-137@2x.svg")
                  img.vector-147(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-138@2x.svg")
                  img.vector-38(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-139@2x.svg")
                  img.vector-52(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-140@2x.svg")
                  img.vector-41(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-141@2x.svg")
                  img.vector-49(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-142@2x.svg")
                  img.vector-82(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-143@2x.svg")
                  img.vector-65(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-144@2x.svg")
                  img.vector-37(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-150@2x.svg")
                  img.vector-25(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-151@2x.svg")
                  img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-152@2x.svg")
                  img.vector-70(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-153@2x.svg")
                  img.vector-142(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-154@2x.svg")
                  img.vector-122(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-155@2x.svg")
                  .group
                    .overlap-group4
                      img.vector-8(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-159@2x.svg")
                      img.vector-162(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-160@2x.svg")
                  img.vector-166(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-156@2x.svg")
                  img.vector-103(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-157@2x.svg")
                img.vector-131(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-145@2x.svg")
                img.vector-114(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-146@2x.svg")
                img.vector-42(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-147@2x.svg")
                img.vector-31(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-148@2x.svg")
                img.vector-51(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-149@2x.svg")
              img.fancy-plants-plant-and-pot(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/fancy-plants-plant-and-pot-1@2x.png")
      img.image-31(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-31-1@2x.png")
      img.image-32(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-31-1@2x.png")
      img.image-33(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-31-1@2x.png")
      img.image-34(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-31-1@2x.png")
      img.image-35(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-31-1@2x.png")
      img.ellipse-15(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-31-1@2x.png")
      .overlap-group1
        .view-more.merriweather-normal-blue-zodiac-21px
          a(href="#") View more>>
        .group-390
          .text-4.lato-normal-blue-zodiac-21px
            | 
The idea of serving the underprivileged has been the seed for Nirmaan.
            br
            br
            | Where people hesitate to tread their steps towards service, a group of students from BITS Pilani initiated the voluntary efforts to serve the needy people from the lower strata. They started teaching to the children of mess workers and construction labor and used to visit local villagers. One day, Kashiram Ka, their regular student, who worked as a Rikshawala, didn’t appear in the gathering. Wondered, the students visited his home and ended up with an epiphany on the conditions of life in the village of Pilani. The Riskshawala had met with an accident and was bed ridden. His girl child had to drop out to help her mother in day to day work, they couldn't afford medical care nor proper food - they were eating roti that is cooked days ago.

          img.allura-feedback-session(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/allura-feedback-session-1@1x.png")
          .our-history Our History
        .group-384
          .our-squad.lato-black-blue-zodiac-40px Our Squad
          .group-509
            .overlap-group2-3
              .students.merriweather-black-nepal-24px Students
            .number-2.merriweather-black-cerise-40px 177
          .group-510
            .overlap-group3-2
              .mentors.merriweather-black-nepal-24px Mentors
            .number.merriweather-black-azure-radiance-40px 166
          .group-512
            .overlap-group4-1
              .cohorts.merriweather-black-nepal-24px Cohorts
            .number-1.merriweather-black-cerise-40px 6
          .group-511
            .overlap-group5
              img.group-137(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-137-3@2x.svg")
              .individual-donors.merriweather-black-blue-zodiac-24px
                | Individual
                br
                | Donors
            .number-3.merriweather-black-azure-radiance-60px 37
      .group-392
        .reach-our-team.lato-black-blue-zodiac-40px Reach Our Team
        .group-389
          .overlap-group2-2
            .group-
              .overlap-group3-1
                img.rectangle-11(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-11@2x.svg")
                .co-ordinator.merriweather-bold-zircon-24px Co-ordinator
                .prasad-chekuri.lato-bold-zircon-18px Prasad Chekuri
                .text-3.lato-bold-zircon-18px Prasadchekuri@gmail.com
                img.ellipse-1-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/ellipse-1@2x.svg")
            button.frame-13(type="button")
              div(style="color:#ffffff;font-size:20px") lets talk
          .group-388
            .overlap-group-1
              .group-
                .overlap-group3-1
                  img.rectangle-11(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-11@2x.svg")
                  .cohort-lead-1.merriweather-bold-zircon-24px cohort lead
                  .baby-shan.lato-bold-zircon-18px Baby Shan
                  .babyshangamilcom.lato-bold-zircon-18px Babyshan@gamil.com
                  img.ellipse-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/ellipse-1-1@2x.svg")
              button.frame-14(type="button")
                div(style="color:#ffffff;font-size:20px") lets talk
          .group-387
            .overlap-group-1
              .group-
                .overlap-group3-1
                  img.rectangle-11(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-11@2x.svg")
                  .cohort-lead.merriweather-bold-zircon-24px Cohort Lead
                  .ravali.lato-bold-zircon-18px Ravali
                  .ravaligmailcom.lato-bold-zircon-18px Ravali@gmail.com
                  img.ellipse-1-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/ellipse-1-2@2x.svg")
              button.frame-15(type="button")
                div(style="color:#ffffff;font-size:20px") lets talk
      .group-490
        .overlap-group6
          .footer-1
            .overlap-group2-4
              .footer
                .text-6.merriweather-normal-zircon-18px
                  span
                    | CONTACT US
                    br
                  span.span1-1.poppins-normal-zircon-20px
                    br
                  span
                    | Phone : +91 9000276903
                    br
                    | Email : contact@nirmaan.org
                    br
                    | Address : H.No. 1-98/9/3, Flat No. 401, Plot No. 3, Jaihind Enclave, Madhapur, Hyderabad - 500081
                  span.span-1.poppins-normal-zircon-18px .
                .text-7.merriweather-normal-zircon-18px
                  span ABOUT US
                  span.span1.merriweather-normal-zircon-18px
                    br
                    br
                  span Over the last 15 years, Nirmaan Organization has impacted 1+ million beneficiaries through Education, Livelihoods and Social Leadership initiatives across 8 states of India
                .quick-links.merriweather-normal-white-18px QUICK LINKS
                .text-8.merriweather-normal-zircon-24px CAREER SATHI PROGRAM
                img.ellipse-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/ellipse-5@2x.png")
                .frame-37
                  .place-1.merriweather-normal-white-16px(href="#", style="font-size:20px;color:#f8f9ff") Home
                  .about-us-2.merriweather-normal-white-16px(style="font-size:20px; color:#f8f9ff") About us
                  .mentorship.merriweather-normal-white-16px(style="font-size:20px; color:#f8f9ff") Mentorship
                  .donors.merriweather-normal-white-16px(style="font-size:20px; color:#f8f9ff") Donors
          .group-489
            img.vector-53(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-30@2x.svg")
            .group-1
            img.vector-116(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-31@2x.svg")
            img.vector-47(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-32@2x.svg")
            .codicontwitter
              img.vector-163(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-34@2x.svg")
      .group-382
        .support-us.lato-black-blue-zodiac-40px Support Us
        button.frame-5(type="button")
          .fa-soliddonate
            img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-167@2x.svg")
          div(style="color:#ffffff; font-size:20px") Donate Now
        .overlap-group7
          .text-9.lato-normal-nepal-21px.
            
            Donar place a crucial role in student’s life.Donar is a person who makes students life colourful with his valuable donations.Donar trust his/her student,donar trust can make a student responsible and committed.
            
          .view-more-1.merriweather-normal-blue-zodiac-21px
            a(href="#") View more>>
        img.vector-96(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-166@2x.svg")
      .group-497
        .group-383
          .students-activities.lato-black-blue-zodiac-40px Students Activities
          .frame-79
            img.rectangle-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-4@2x.png")
            img.rectangle-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-6@2x.png")
            img.rectangle-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-5@2x.png")
        img.vector-26(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-168@2x.svg")
        .group-495
          img.vector-80(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-169@2x.svg")
      .group-499
        .group-385
          .accomplishments.lato-black-blue-zodiac-40px Accomplishments
          .group-380
            .overlap-group2-5
              img.group-370(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-370@2x.svg")
              img.group-372(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-372@2x.svg")
              img.group-378(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-378@2x.svg")
        img.vector-83(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-170@2x.svg")
        .group-493
          img.vector-20(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-171@2x.svg")