extend cohortLeadBase

block header
  
  .overlap-group2-4
    .header
      img.ellipse-4(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/ellipse-4@1x.jpg")
      h1.title csp
      .frame-20
        .place
          a(href) Home
        .my-students.merriweather-bold-blue-zodiac-20px
          a(href) My Students
        .place-1.merriweather-bold-blue-zodiac-20px
          a(href) Mentor
        .donor.merriweather-bold-blue-zodiac-20px
          a(href) donar
      a(href)
        img.notonewspaper(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/noto-newspaper@2x.svg")
      .bxbxs-chat
        .overlap-group3-3
          a(href)
            img.vector-17(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-1@2x.svg")
          a(href)
            img.vector-22(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-2@2x.svg")
      .claritybell-solid-badged
        .overlap-group4
          img.vector-12(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-4@2x.svg")
          a(href)
            img.vector-15(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-5@2x.svg")
        a(href)
          img.vector-16(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-3@2x.svg")
    .radhika-mandala
      a(href) Radhika Mandala