extend cohortLeadBase

block content
 
  .container-center-horizontal
    .cohortlead-homepage.screen
      .overlap-group
        .group-271
          .biperson
            a(href)
              img.vector-8(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-6@2x.svg")
        .flex-row
          .text-1 “The only way to do great job is to love what you do”
          img.cohortlead-icon-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/cohortlead-icon-1@1x.png")
      .group-311
        .card-card-rankings-singles
          .overlap-group2-6
            img.mask-group-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/mask-group@2x.svg")
            .cafs-approved.abeezee-normal-white-18px
              a(href) CAFS APPROVED
            .frame-71
              .number-1 12
              .secondary-up
                img.union-stroke(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/union--stroke-@2x.svg")
            .lastamp
              img.vector-5(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-7@2x.svg")
        .card-card-rankings-doubles
          .overlap-group3
            img.rectangle-16(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/rectangle-16@2x.svg")
            img.mask-group(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/mask-group-1@2x.svg")
            .my-students-1.abeezee-normal-white-18px
              a(href) MY STUDENTS
            .frame-71-1
            .number.abeezee-normal-white-25px 30
            .icons8student
              img.vector-6(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-8@2x.svg")
        .group-307
          .overlap-group4-1
            .card-card-rankings-md
              .overlap-group2-2
                img.rectangle-17(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/rectangle-17@2x.svg")
                img.mask-group-2(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/mask-group-2@2x.svg")
                .mentors.abeezee-normal-white-18px
                  a(href) MENTORS
                .mentors.abeezee-normal-white-18px
                  a(href) MENTORS
                .frame-72
                  .number-2.abeezee-normal-white-25px 25
                  .secondary-down
            .raphaelparent
        img.rectangle-421(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/rectangle-421@2x.png")
      .group-454
        .overlap-group9
          .group-425
            .group-419
              .upcoming-events
                a(href)
                  button UPCOMING EVENTS
              .live-events.merriweather-bold-blue-zodiac-24px
                a(href)
                  button LIVE EVENTS
              .completed-events.merriweather-bold-blue-zodiac-24px
                a(href)
                  button COMPLETED EVENTS
            .group-424
              img.x-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/-@2x.svg")
              .overlap-group2-1
                .group-412
                  .overlap-group3-5
                    .group-410
                      .overlap-group4-4
                        img.dashboard-ads-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/dashboard-ads@1x.svg")
                        .dashboard-ads
                        .saly-13-1
                        .frame-69
                        .component-70
                          .csp-camp10-1.valign-text-middle.roboto-medium-blue-zodiac-36px CSP CAMP10
                          p.text-5.valign-text-middle.roboto-medium-nepal-12px.
                            
                            NEED DONATIONS FOR ARRANGING TRAINERS
                            
                        img.image-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/image-1@2x.png")
                    .group-411
                      .overlap-group5
                        img.dashboard-ads-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/dashboard-ads-1@1x.svg")
                        .dashboard-ads
                        .saly-13
                        .frame-69-1
                        .component-70-1
                          .overlap-group4-3
                            .csp-camp10.valign-text-middle.roboto-medium-blue-zodiac-36px CSP CAMP10
                            img.x(src)
                        img.image-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/image-1-1@2x.png")
                .phone 30/10/21
                .phone-1 30/10/21
                .ellipse-79
                .ellipse-81
                .ellipse-80
                .ellipse-82
          p.text-6.valign-text-middle.roboto-medium-nepal-12px NEED DONATIONS FOR ARRANGING TRAINERS
        .group-453
          .overlap-group6-1
            .add-new.valign-text-middle
              a(href)
                button ADD NEW
            .group
              .overlap-group2-5
                a
                  img.vector(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-29@2x.svg")
                a(href)
                  img.vector-13(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-30@2x.svg")
      .overlap-group1
        .group-423
          .overlap-group2-3
            .rectangle-436
            .requests
              a(href) Requests
            img.rectangle-437(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/rectangle-437@2x.svg")
            .text-2.abeezee-normal-azure-radiance-20px.
              
              CAF Request from Sai Kumar       10/01
              
            .text-3.abeezee-normal-azure-radiance-20px.
              
              Book Request from Shilpa            10/01
              
            .text-4.abeezee-normal-azure-radiance-20px.
              
              Laptop Request from Rajesh         10/01
              
            .close-2.valign-text-middle.materialicons-regular-normal-oslo-gray-24px
              a(href) close
            .close-1.valign-text-middle.materialicons-regular-normal-oslo-gray-24px
              a(href) close
            .close.valign-text-middle.materialicons-regular-normal-oslo-gray-24px
              a(href) close
            .cilenvelope-letter
              a(href)
                img.vector-21(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-9@2x.svg")
            .carbonrequest-quote-2
              .overlap-group-1
                a
                  img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-10@2x.svg")
                a(href)
                  img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-11@2x.svg")
            .carbonrequest-quote
              .overlap-group-1
                a(href)
                  img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-10@2x.svg")
                a(href)
                  img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-11@2x.svg")
            .carbonrequest-quote-1
              .overlap-group-1
                a(href)
                  img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-10@2x.svg")
                a(href)
                  img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-11@2x.svg")
        .group-418
          .overlap-group6
            .frame-68
            img.group-289(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/group-289@1x.svg")
            .group-488
              .group-415
                .overlap-group8
                  .etdocument
                    .overlap-group3-6
                      a(href)
                        img.vector-20(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-26@2x.svg")
                      img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-24@2x.svg")
                      img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-25@2x.svg")
                      img.vector-4(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-27@2x.svg")
                      a(href)
                        img.vector-4(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-28@2x.svg")
              .overlap-group2
                .group-287
                  .group-284
                    .overlap-group3-4
                      a(href)
                        img.vector-7(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-17@2x.svg")
                  .group-28
                    .overlap-group4-2
                      .group-1
                        .overlap-group3-2
                          a(href)
                          img.vector-10(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-18@2x.svg")
                          a(href)
                            img.vector-19(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-19@2x.svg")
                  .group-28
                    .overlap-group5-1
                      a(href)
                        img.vector-11(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-20@2x.svg")
                .group-413
                  .overlap-group7
                    .bxbx-link-alt
                      .overlap-group3-1
                        a(href)
                          img.vector-18(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-22@2x.svg")
            .rectangle-435
              form
                fieldset
                  input#mytext(type="text", value="write subject")
            img.vector-9(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-16@2x.svg")
      img.vector-14(src="https://anima-uploads.s3.amazonaws.com/projects/60b121555e049fc4e22c3fab/img/vector-31@1x.svg")