doctype html
html
    head
        title CSP
        
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/lead.css')
        link(rel='stylesheet' href='/css/profile.css')
        
    body
        block header 
        block content
            h1 i am the main link
        
        script(src='/js/bundle.js')