extend base

block content
  .container-center-horizontal
    .donorship.screen
      .overlap-group
        .hero
          link(href="/css/donorship.css", rel="stylesheet")
          .overlap-group1
            img.rectangle-392(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-392-1@1x.svg")
            .hero-section-content
              .overlap-group2-1
                img.subtract(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/subtract-1@1x.svg")
                h1.text-2.lato-bold-white-72px EVERYONE COULD BE A HERO
              .text-1.merriweather-normal-white-24px We are looking for your support
              button.frame-4(type="button")
                .fa-soliddonate
                  img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-167@2x.svg")
                .donate-now.merriweather-bold-white-20px2(style="color:#F8F9FF;font-size:20px") Register now
          .header
            img.ellipse-4-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
            .csp.merriweather-black-white-72px csp
            .frame-20
              .place.merriweather-bold-cerise-20px Home
              .who-we-are.merriweather-bold-white-20px-22 Who we are
              .mentorship-1.merriweather-bold-white-20px-22 Mentorship
              .donors-1.merriweather-bold-white-20px-22 Donors
            .contact
              .contact-us.merriweather-light-tory-blue-16px Contact us
            .login-1
              .login.merriweather-light-tory-blue-16px Login
        .header-1
          img.ellipse-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/ellipse-4-1@1x.png")
          .csp.merriweather-black-white-72px csp
          .frame-20
            .place.merriweather-bold-mischka-20px
              a(href="/", style="color:#f8f9ff;font-size:20px") Home
            .who-we-are.merriweather-bold-white-20px-22
              a(href="/aboutUs", style="color:#f8f9ff;font-size:20px") Who we are
            .mentorship-1.merriweather-bold-white-20px-22
              a(href="mentorship", style="color:#f8f9ff;font-size:20px") Mentorship
            .donors-1.merriweather-bold-cerise-20px-2
              a(href="donorship", style="color:#f8f9ff;font-size:20px") Donors
          button.contact(type="button", style="background-color:#F8F9FF;color:#172755")
            div(style="color:#172755") Contact us
          button.login-1(type="button", style="background-color:#F8F9FF;color:#172755")
            div(style="color:#172755") Login
      img.image-31(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
      img.image-32(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
      img.image-33(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
      img.image-34(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
      img.image-35(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
      img.ellipse-15(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
      .group-404
        .overlap-group3
          img.bxbxs-donate-heart(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/bx-bxs-donate-heart@1x.jpg")
          .group-396
            .overlap-group1-5
              .text-3.lato-black-blue-zodiac-40px Importance of Donorship
              .text-4.lato-normal-nepal-21px.
                
                Donar place a crucial role in student’s life.Donar is a person who makes students life colourful with his valuable donations.Donar trust his/her student,donar trust can make a student responsible and committed.student is very transparent to the donar.student accustomed to, true to his word with his donar,which is an exceptional quality.
                
      .group-387-1
        .group-383
          .students-activities.lato-black-blue-zodiac-40px Students Activities
          .frame-79
            img.rectangle-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/rectangle-4@2x.png")
            img.rectangle-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/rectangle-6@2x.png")
            img.rectangle-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/rectangle-5@2x.png")
        img.x-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/-@2x.svg")
        img.x(src)
      .our-csr-donors.lato-black-blue-zodiac-40px Our CSR Donors
      .group-397
        .group-387
          .support-us.lato-black-blue-zodiac-40px Support Us
          .overlap-group1-4
            .text-5.lato-normal-nepal-21px.
              
              Donar place a crucial role in student’s life.Donar is a person who makes students life colourful with his valuable donations.Donar trust his/her student,donar trust can make a student responsible and committed.
              
            .view-more-1.merriweather-normal-blue-zodiac-21px
              a(href="#", style="color:#172755") View more>>
          img.vector-30(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector@1x.jpg")
        button.frame-5(type="button")
          .fa-soliddonate
            img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-1@2x.svg")
          .donate-now.merriweather-bold-white-20px2(style="color:#F8F9FF;font-size:20px") Donate Now
      .group-407
        img.fluentpeople-co-nity-20-regular(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/fluent-people-community-20-regular@1x.jpg")
        img.biemoji-smile(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/bi-emoji-smile@1x.jpg")
        .make-difference.poppins-bold-tory-blue-20px Make difference
        img.noto-v13rd-place-medal(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/noto-v1-3rd-place-medal@1x.jpg")
        img.notoman-student(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64a4cce5ced6927067c57/img/noto-man-student@1x.jpg")
        .benefits-you-get.lato-black-blue-zodiac-40px Benefits You Get
        img.mdihandshake-outline(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/mdi-handshake-outline@1x.jpg")
        .overlap-group4-1
          .double-your-impact.poppins-bold-tory-blue-20px Double Your Impact
          .recognition.poppins-bold-tory-blue-20px Recognition
        .text-6.poppins-bold-tory-blue-20px Become More Thankful
        .text-7.poppins-bold-tory-blue-20px lmpact Student’s Life
        .tax-breaks.poppins-bold-tory-blue-20px Tax Breaks
        .text-8.lato-normal-nepal-21px.
          
          Career Saathi Program is a selective student support program for the meritorious
          
        .text-9.lato-normal-nepal-21px.
          
          Career Saathi Program is a selective student support program for the meritorious
          
        .text-10.lato-normal-nepal-21px.
          
          Career Saathi Program is a selective student support program for the meritorious
          
        .text-11.lato-normal-nepal-21px.
          
          Career Saathi Program is a selective student support program for the meritorious
          
        .text-12.lato-normal-nepal-21px.
          
          Career Saathi Program is a selective student support program for the meritorious
          
        .text-13.lato-normal-nepal-21px.
          
          Career Saathi Program is a selective student support program for the meritorious
          
        img.group-2(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/group@1x.jpg")
      .group-409
        .overlap-group5
          .group-402
            .overlap-group1-3
              img.group-399(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-399@2x.svg")
              img.group-400(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-400@2x.svg")
              img.group-401(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-401@2x.svg")
          .text-14.lato-normal-nepal-21px.
            
            Donar place a crucial role in student’s life.Donar is a person who makes students life colourful with his valuable donations.Donar trust his/her student
            
        .what-our-donors-say.lato-black-blue-zodiac-40px What Our Donors Say
      .group-513
        .overlap-group6-1
          img.image-50(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-50@1x.jpg")
          img.image-51(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-51@1x.jpg")
          img.image-52(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-52@1x.jpg")
          img.image-53(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-53@1x.jpg")
          img.image-54(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-54@1x.jpg")
          img.image-55(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-55@1x.jpg")
          .view-more.merriweather-normal-blue-zodiac-21px-2
            a(href="#", style="color:#172755") View more>>
      .group-476
        .overlap-group7
          img.rectangle-442(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-442@2x.svg")
          .group-472
            .overlap-group1-1
              .group-470
                .overlap-group2
                  img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-2@2x.svg")
                  img.vector-12(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-3@2x.svg")
                  img.vector-24(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-4@2x.svg")
                  img.vector-17(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-5@2x.svg")
                  img.vector-14(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-6@2x.svg")
                  img.vector-26(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-7@2x.svg")
                  img.vector-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-8@2x.svg")
                  img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-9@2x.svg")
                  img.vector-21(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-10@2x.svg")
                  .group-3
                    img.vector-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-16@2x.svg")
                    img.vector-28(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-17@2x.svg")
                  img.vector-18(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-11@2x.svg")
                  img.vector-15(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-12@2x.svg")
                  img.vector-7(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-13@2x.svg")
                  img.vector-29(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-14@2x.svg")
                  img.vector-16(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-15@2x.svg")
                  .group-4
                    .overlap-group3-1
                      img.vector-27(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
                      img.vector-33(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-19@2x.svg")
                      img.vector-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-20@2x.svg")
                      img.vector-8(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-21@2x.svg")
                      .group
                        .overlap-group4
                          img.vector-23(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/image-31-1@2x.png")
                          img.vector-22(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-24@2x.svg")
                          img.vector-31(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-25@2x.svg")
                          img.vector-11(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-26@2x.svg")
                      img.vector-20(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-22@2x.svg")
                    .group-1
                      .overlap-group5-1
                        img.vector-13(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-27@2x.svg")
                        img.vector(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-28@2x.svg")
                        img.vector-25(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-29@2x.svg")
              .group-469
                .text-15.merriweather-black-zircon-24px
                  | Single
                  br
                  | Student
                  br
                  | Donors
                .number-1.merriweather-black-zircon-40px 25
                .overlap-group6
                  img.rectangle-441(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-441@1x.svg")
                  .number.merriweather-black-zircon-40px=donars
                  .text-16.merriweather-black-zircon-24px
                    | Donors
                    br
                    | Supporting the
                    br
                    | Organization
                  img.group-409-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-409@2x.svg")
        .our-donors.lato-black-blue-zodiac-40px Our Donors
      .group-490
        .overlap-group8
          .footer-1
            .overlap-group1-2
              .footer
                .text-17.merriweather-normal-zircon-18px
                  span
                    | CONTACT US
                    br
                  span.span1-1.poppins-normal-zircon-20px
                    br
                  span
                    | Phone :
                    a(href="#", style="color:#F8F9FF; font-size:20px")  +91 9000276903
                    br
                    | Email : 
                    a(href="#", style="color:#F8F9FF; font-size:20px") contact@nirmaan.org
                    br
                    | Address : H.No. 1-98/9/3, Flat No. 401, Plot No. 3, Jaihind Enclave, Madhapur, Hyderabad - 500081
                  span.span.poppins-normal-zircon-18px .
                .text-18.merriweather-normal-zircon-18px
                  span.span0.merriweather-normal-zircon-18px ABOUT US
                  span.span1.merriweather-normal-zircon-18px
                    br
                    br
                  span.
                    
                    Over the last 15 years, Nirmaan Organization has impacted 1+ million beneficiaries through Education, Livelihoods and Social Leadership initiatives across 8 states of India
                .quick-links.merriweather-normal-white-18px QUICK LINKS
                .text-19.merriweather-normal-zircon-24px CAREER SATHI PROGRAM
                img.ellipse-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/ellipse-5@2x.png")
                .frame-37
                  .place.merriweather-normal-white-16px
                    a(href="/", style="color:#F8F9FF; font-size:20px") Home
                  .about-us.merriweather-normal-white-16px
                    a(href="/aboutUs", style="color:#F8F9FF; font-size:20px") About us
                  .mentorship.merriweather-normal-white-16px
                    a(href="/mentorship", style="color:#F8F9FF; font-size:20px") Mentorship
                  .donors.merriweather-normal-white-16px
                    a(href="/donorship", style="color:#F8F9FF; font-size:20px") Donors
          .group-489
            img.vector-32(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-30@2x.svg")
            .group-5
            img.vector-9(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-31@2x.svg")
            img.vector-10(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-32@2x.svg")
            .codicontwitter
              img.vector-19(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-34@2x.svg")