extend base
block content
  .container-center-horizontal
    .donor-dashboard.screen
      .overlap-group5
        .overlap-group1
          link(href="/css/donorhome.css", rel="stylesheet")
          .header
            img.ellipse-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/ellipse-4@2x.png")
            h1.title.merriweather-black-blue-zodiac-72px csp
            .frame-20
              .place.merriweather-bold-cerise-20px
                a(href="#", style="color:#EF2A82") Home
              .my-donations.merriweather-bold-blue-zodiac-20px
                a(href="#", style="color:#172755") My donations
            img.doc-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/doc-1@2x.png")
            img.header-item(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/chat-1@2x.png")
            img.header-item(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/notif-2@2x.png")
          .radhika-mandala.merriweather-bold-cerise-18px
            a(href="#", style="color:#EF2A82") Radhika Mandala
        img.profile-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/profile-1@2x.png")
      .flex-row
        //   <div class="text-1 lato-black-blue-zodiac-36px">“The only way to do great job is to love what you do”</div>
        .textt “The only way to do great job is to love what you do”
        .group-277
          .overlap-group3
            img.group-275(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-275@2x.png")
            img.group-276(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60ae3be3e0e1dced104564c4/img/group-276@1x.png")
      .overlap-group4
        .overlap-group
          img.rectangle-421(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/rectangle-421@1x.png")
          .group-530
            .overlap-group2
              img.image-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60ae3be3e0e1dced104564c4/img/image-1@2x.png")
          img.vector(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector@1x.png")
        .group-531
