extend base
 
block content
  .container-center-horizontal
    .frame-505.screen
      .overlap-group
        .hero-section-content
          link(href='/csp/header.css', rel='stylesheet')
          
          .text-1.merriweather-normal-white-24px Career Saathi Program
            h1.text-2.lato-bold-white-72px-2
            span.span.lato-bold-white-72px
              | Career Acceleration Platform
              br
              | For World-Beating Yet
            span.span.lato-bold-white-72px-3 Under
            span.span.lato-bold-white-72px Privileged Students
          button.frame-4(type='button')
            .fa-soliddonate
              img.vector(src='https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-167@2x.svg')
            div(style='color:#F8F9FF; font-size:20px') Donate Now
        .header
          img.ellipse-4(src='https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/ellipse-4@2x.png')
          .csp.merriweather-black-white-72px csp
          .frame-20
            .place.merriweather-bold-cerise-20px(style='color:#F8F9FF;font-size:20px')
              a(href='#', style='color:#f8f9ff;font-size:20px') Home
            .who-we-are.merriweather-bold-white-20px-22(style='color:#F8F9FF;font-size:20px')
              b
                a(href='#', style='color:#f8f9ff;font-size:20px') Who we are
            .mentorship.merriweather-bold-white-20px-22(style='color:#F8F9FF;font-size:20px')
              b
                a(href='#', style='color:#f8f9ff;font-size:20px') Mentorship
            .donors.merriweather-bold-white-20px-22(style='color:#F8F9FF;font-size:20px')
              b
                a(href='#', style='color:#f8f9ff;font-size:20px') Donors
          button.contact(type='button')
            div Contact us
          button.login(type='button')
            div Login



