extend base

block content
  .container-center-horizontal
    .login.screen
      .overlap-group
        link(href="/css/login.css", rel="stylesheet")
        img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-3-1@1x.svg")
        img.rectangle-421(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/rectangle-421@1x.png")
        img.undraw-loginre4vu2-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/undraw-login-re-4vu2-1-1@1x.svg")
        .group-215
          .overlap-group1
            .overlap-group2
              img.saly-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/saly-6@2x.png")
              .login-2.merriweather-black-white-20px Login
            .group-505
              input.overlap-group4#email(type="text", placeholder="Enter Email ID")
              input.overlap-group3#password(type="password", placeholder="Enter Password")
              .carbonpassword.
                
                
              .group-506
                button.overlap-group7.loginBtn(type="button")
                  .login-1.valign-text-middle.merriweather-bold-white-20px Login
              .group-507
                .forgot-password
                  a(href="/") Forgot password?
                .rectangle-22
              .group-508
                button.overlap-group6(type="button")
                  .place-1.valign-text-middle.merriweather-bold-white-20px Register
        .header
          img.ellipse-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/ellipse-4@2x.png")
          h1.title.merriweather-black-white-72px csp
          .frame-20
            .place
              a(href="/", style="color:#172755;font-size:20px") Home
            .who-we-are.merriweather-bold-blue-zodiac-20px
              a(href="/aboutUs", style="color:#172755;font-size:20px") Who we are
            .mentorship.merriweather-bold-blue-zodiac-20px
              a(href="/mentorship", style="color:#172755;font-size:20px") Mentorship
            .donors.merriweather-bold-blue-zodiac-20px
              a(href="/donorship", style="color:#172755;font-size:20px") Donors
          button(type="button", style="width:120px;height:25px;font-size:20px")
            div Contact us
          button(type="button", style="width:100px;height:25px;font-size:20px")
            div Login
          //   <button type="button" style="color:#ffffff;baground-color:#172755"><div class="login-3" style="width:75px;height:25px;font-size:20px">Login</div></button>