extend studentBase

block content
  #nav
    h3
      img(src="C:\Users\Admin\Desktop\vijay-\VIJAY\csp.png")
    ul
      li HOME
      li#ms MY STUDENTS
      li MENTORS
      li DONORS
    i.fa.fa-bell
    i.fa.fa-user
  .container
    #left
      #details
        img(src="C:\Users\Admin\Desktop\vijay-\VIJAY\zuker.jpg")
        i.fa.fa-commenting
        i.fa.fa-comment(aria-hidden="true")
        h3#name COHORT-1
      #study
        p
          u STUDY
        h4 CHAITHANYA BHARATHI INSTITUTE OF TECHNOLOGY
        h3#course B.E final year in Computer Science Engineering
      #info
        p
          u BASIC INFORMATION
        h3 Birthday: june 6,1996
        h3 Gender : Male
    #right
      #first
        h1 Abhiram
        p Software Engineer
      #second
        p mentor information
        h3 Vishwanath
      #third
        h3
          | phone:
          b +91 9848983030
        h3
          | address:
          b hightech city,Madhapur
        h3
          | email:
          b abhiram710@gmail.com
        h3
          | links:
          b
            | www.abhiramvishwak.com
            b
              br
              pre.
                                      www.linkedin.com/abhi710
                                        www.github.com/abhiramvishwak
  #bot
    h2
      | EDUCATION DETAILS

      #tp
        h4 CLASS
        h4 School/college name
        h4 Board
        h4 GPA
      #bt
        h4 X
        h4 ZPHS IRWIN
        h4 SSC
        h4 9.0