extend base
block content
  .container-center-horizontal
    .student-homepage.screen
      .overlap-group1
        link(href="/css/studenthome.css", rel="stylesheet")
        .header
          img.ellipse-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/ellipse-4@2x.png")
          h1.title.merriweather-black-blue-zodiac-72px csp
          .frame-20
            .place.merriweather-bold-cerise-20px
              a(href="#", style="color:#EF2A82;font-size:20px") Home
            .documents.merriweather-bold-blue-zodiac-20px
              a(href="#", style="color:#172755;font-size:20px") Documents
            .requests.merriweather-bold-blue-zodiac-20px
              a(href="#", style="color:#172755;font-size:20px") Requests
            .assignments.merriweather-bold-blue-zodiac-20px
              a(href="#", style="color:#172755;font-size:20px") Assignments
          img.notonewspaper(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/noto-newspaper@2x.png")
          .bxbxs-chat
            .overlap-group2
              img.vector-32(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector@2x.png")
              img.vector-23(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-1@2x.png")
          .claritybell-solid-badged
            .overlap-group3-1
              img.vector-35(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-3@2x.png")
              img.vector-41(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-4@2x.png")
            img.vector-39(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-5@2x.png")
        .radhika-mandala.merriweather-bold-cerise-18px
          a(href="/me", style="color:#EF2A82") Radhika Mandala
      .group-271(href="#")
        .biperson
          img.vector-5(style="width:50px,height:50px", src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/profile-1@2x.png")
      .overlap-group
        .group-277
          .overlap-group2-2
            img.group-275(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-275@2x.png")
            img.group-276(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60acca056defd0efb2cdbb66/img/group-276@1x.png")
        .group-515
          img.rectangle-421(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/rectangle-421@1x.png")
          .overlap-group3
            .group-1
              .overlap-group2-1
                .group-6
                  .overlap-group4-1
                    .group-10
                      .overlap-group5-1
                        img.vector-31(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-7@2x.png")
                        img.vector-38(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-8@2x.png")
                      .overlap-group6
                        img.vector-18(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-65@2x.png")
                        img.vector-37(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-10@2x.png")
                    img.vector-14(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-6@2x.png")
                .group-9
                  .overlap-group7
                    .group-7
                    img.vector-28(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-15@2x.png")
                    .group-8
                    img.vector-25(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-17@2x.png")
                    .group-11
                      .overlap-group4
                        .group-2
                          .overlap-group5
                            img.vector-47(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-19@2x.png")
                            img.vector(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-20@2x.png")
                            img.vector-44(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-21@2x.png")
                          img.vector-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-22@2x.png")
                          img.vector-22(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-23@2x.png")
                    img.vector-46(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-24@2x.png")
                    .group-4
                      img.vector-40(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-25@2x.png")
                      img.vector-8(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-26@2x.png")
                    img.vector-9(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-27@2x.png")
                    img.vector-27(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-28@2x.png")
                    img.vector-19(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-29@2x.png")
                    img.vector-26(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-30@2x.png")
                    img.vector-48(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-31@2x.png")
                    img.vector-13(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-32@2x.png")
                    img.vector-12(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-33@2x.png")
                    img.vector-30(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-11@2x.png")
                    img.vector-16(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-34@2x.png")
                    img.vector-24(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-35@2x.png")
                    img.vector-36(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-36@2x.png")
                    .group
                      .overlap-group6-1
                        img.vector-45(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-37@2x.png")
                        img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-38@2x.png")
                        img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-39@2x.png")
                        img.vector-17(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-40@2x.png")
                        img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-41@2x.png")
                    .group-12
                      .overlap-group8
                        img.vector-20(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-42@2x.png")
                        img.vector-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-43@2x.png")
                        img.vector-2(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-44@2x.png")
                        img.vector-10(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-45@2x.png")
                        img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-46@2x.png")
                    .group-5
                      .overlap-group9
                        img.vector-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-47@2x.png")
                        img.vector-33(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-48@2x.png")
                    img.vector-42(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-12@2x.png")
                    .group-3
                      .overlap-group10
                        img.vector-34(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-49@2x.png")
                        img.vector-7(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-50@2x.png")
                        img.vector-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-51@2x.png")
                        img.vector-43(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-52@2x.png")
                        img.vector-29(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-53@2x.png")
                    img.vector-15(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-13@2x.png")
        .group-507
          .overlap-group11
            .group-494
              img.vector-21(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-54@2x.png")
            .group-495
              img.vector-11(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-55@2x.png")